.main-layout {
    min-height: 100%;
}


.grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto ;
    gap: 10px 10px;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";

    min-height: 100%;
    width: 1000px;
    margin: 0 auto;
}

.grid > * {
    border: 3px solid rebeccapurple;
}



.grid .header-grid {
    grid-area: header;
    background-color: beige;
    height: 60px;
}

.grid .sidebar-grid {
    grid-area: sidebar;
    background-color: beige;
    min-height: 100%;
}

.content-outlet {
    grid-area: content;
}

.grid .content-grid {
    display: flex;
    flex-direction: row;
    gap: 10px 10px;
    flex-wrap: wrap;
    background-color: beige;
    min-height: 100%;
}

.grid .footer-grid {
    grid-area: footer;
    background-color: beige;
    height: 60px;
}

