.main {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;

    border: 1px solid;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0 0;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}


header {
    height: 60px;
    background: deeppink;
    border-bottom: 1px solid purple;
    padding: 20px;
    grid-area: header;
}


.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    border-left:1px solid;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 35px; /* row-gap column gap */
    justify-content: space-between;
}

footer {
    align-self: end;
    background: pink;
    height: 60px;
    border-top: 1px solid deeppink;
    grid-area: footer;
}

/*
.background {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Russian_word_huy.jpg/1200px-Russian_word_huy.jpg") ;
    background-size: cover;
    color: white;
    padding: 15px;
} */