.b-friends {
  font-style: italic;
  border: 5px solid pink;
  width: 450px;
  height: 150px;
  padding: 10px;
  margin: 0 auto;
}
h3.iditenahyi {
  text-align: center;
}




.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 300px;

  flex-direction: row;

  .left {
.levo{
  text-align: center;
}
    border: 5px solid pink;
    width: 200px;
    height: 200px;
  }
  .center {
    border: 5px solid pink;
    width: 200px;
    height: 200px;
  }

  .right {
    border: 5px solid pink;
    width: 200px;
    height: 200px;
  }
}
