.card {
    width: 310px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 6px;
}

.card-text {
    border: 1px solid red;
}

.card-image {
    height: 200px;
    border: 1px solid blue;
    /*background-clip: border-box;
    background-size: contain;*/
    /*background-image: url("https://scontent.frix7-1.fna.fbcdn.net/v/t39.30808-6/453536549_8007331775994340_3404054686092343856_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=kn_C8bNF20YQ7kNvwEgtMt-&_nc_oc=AdmfMSagucFeTUbwAbgR-xw-COdP0aAWOXvRqUW02fRj5zQI0s4eWk5tLbaxNbEhHHU&_nc_zt=23&_nc_ht=scontent.frix7-1.fna&_nc_gid=w3xIXHJZ8HuhbI4k-ANBUQ&oh=00_AfOqzaNzmYlrxmat4riywSyw-LtFww7dKMqPAbtwUSc1ZQ&oe=6849EB32");*/
}
