.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 600px;
}
    .one {
        width: 250px;
        height: 100%;
        border: 6px dotted mediumpurple;
    }
    .two {
        width: 100%;
        height: 100%;
        border: 6px dotted mediumpurple;
    }
    .three {
        width: 250px;
        height: 100%;
        border: 6px dotted mediumpurple;
    }

