.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container > * {
    width: calc(100% / 3);
    box-sizing: border-box;
}

.one {
    outline: none;
    min-width: 250px;
    height: 100%;
    border: 6px solid mediumpurple;
}

.two {
    height: 100%;
    border: 6px solid mediumpurple;
}

.three {
    min-width: 250px;
    height: 100%;
    border: 6px solid mediumpurple;
}

