.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}


.one {
    float: left;
    width: 200px;
    height: 200px;
    border: 6px solid mediumpurple;
}

.two {
    float: ;
    justify-items:center;
    width: 200px;
    height: 200px;
    border: 6px solid mediumpurple;
}

.three {
    float: right;
    width: 200px;
    height: 200px;
    border: 6px solid mediumpurple;
}

