.root-container {
    height: 100%;
    padding-top: 250px;
    background: bisque;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    border:10px solid coral;
    background: black;
    position: relative;
}

.container > * {

}

.one {
    outline: none;
    width: 250px;
    border: 6px solid mediumpurple;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    background: coral;
}

.one-12 {
    left: 300px;
}

.two {
    width: 250px;
    align-self: stretch;
    border: 6px solid mediumpurple;
}
