
header {
    background: deeppink;
    border: 5px solid purple;
    padding: 20px;
    flex-direction: column;

}
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.first {
    width: 250px;
}
.background {
    background-color: aqua;
    border: 5px solid purple;
}
.second {
    background-color: aqua;
    width: 100%;
    border: 5px solid rebeccapurple;
}

footer {
    margin: 0;
    background: pink;
    width: 100%;
    height: 60px;
    border: 5px solid deeppink;
}