
  .header {
        width: 100%;
        height: 60px;
        border: 5px solid purple;
      background-color: yellowgreen;
      position: fixed;
  }

    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .first {
        width: 250px;
        height: 100%;
        border: 5px solid red;
    }
    .second {
        width: 100%;
        border: 5px solid red;
    }
    .footer {
        background-color: aquamarine;
        bottom: 0px;
        width: 100%;
        height: 60px;
        border: 5px solid greenyellow;
        position: fixed;
    }
